In [2]:
import sys

In [3]:
sys.version #파이썬 버전 - 3.9.12

'3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]'

### 파이썬의 장점

배우기 쉽다.

간결한 문법과 풍부한 표준 라이브러리를 가지고 있다.

자료 구조들과 객체 지향 프로그래밍에 대해 간단하고도 효과적인 접근법을 제공

인터프리터적인 특징들은 대부분 플랫폼과 다양한 문제 영역에서 스크립트 작성과 빠른 응용 프로그램 개발에 이상적인 환경을 제공

풍부한 표준 라이브러리는 소스나 바이너리 형태로 파이썬 웹 사이트, https://www.python.org/, 에서 무료로 제공, 자유롭게 배포 가능

C 나 C++ (또는 C에서 호출 가능한 다른 언어들)로 구현된 함수나 자료 구조를 쉽게 추가할 수 있음

## 예약어

In [4]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 표현식(expression) = 평가식 = 식 = 수식
- 값
- 값들과 연산자를 함께 사용해서 표현한 것
- “평가”되면서 하나의 특정한 결과값으로 축약

In [5]:
2+2

4

In [7]:
5-7

-2

In [8]:
8*9

72

In [9]:
10/2

5.0

In [10]:
3**2

9

In [11]:
10//3 #나눗셈 - 몫

3

In [14]:
10 % 3 #나눗셈 - 나머지

1

### 변수(Variables) 
- 값을 기억해 두고 필요할 때 활용할 수 있음
- 중간 계산값을 저장하거나 누적 등

- = (대입 연산자)를 이용하여 값, 또는 연산 결과를 저장한다.

In [18]:
spam = 15
spam

15

In [19]:
id(spam) #메모리 내의 spam 위치

3132185799408

#### 변수 이름을 지을 때…
- 의미 있는 이름을 사용(권장)
- 소문자와 대문자는 서로 다르게 취급
- 변수의 이름은 문자와 숫자, 밑줄(_)로 이루어짐
- 변수의 이름 중간에 공백이 들어가면 안됨. 단어를 구분하려면 밑줄(_)을 사용함
- 숫자로 시작할 수 없음
- 키워드는 사용할 수 없음

#### Python에서의 변수
- 값(객체)을 저장하는 메모리 상의 공간을 가리키는(object reference: 객체 참조) 이름
- Python은 모든 것이 객체이므로 변수보다는 식별자(identifier)로 언급. 변수로 통용해서 사용하기도 함
- 변수의 경우, 선언 및 할당이 동시에 이루어짐

In [20]:
a = 10
b = 'hi'
c = 3.14

In [21]:
%whos #변수, 타입, 데이터 출력

Variable   Type      Data/Info
------------------------------
a          int       10
b          str       hi
c          float     3.14
keyword    module    <module 'keyword' from 'C<...>conda3\\lib\\keyword.py'>
spam       int       15
sys        module    <module 'sys' (built-in)>

In [22]:
del a
a #a 삭제해서 비어있음 - NameError

NameError: name 'a' is not defined

In [23]:
%whos

Variable   Type      Data/Info
------------------------------
b          str       hi
c          float     3.14
keyword    module    <module 'keyword' from 'C<...>conda3\\lib\\keyword.py'>
spam       int       15
sys        module    <module 'sys' (built-in)>

In [29]:
a=1
b=c=a

In [32]:
a, b, c

(1, 1, 1)

In [33]:
id(a), id(b), id(c)

(3132185798960, 3132185798960, 3132185798960)

In [35]:
a,b = 4,5
a, b, c

(4, 5, 1)

In [36]:
l = 22
r = 10
l, r = r, l
l, r

(10, 22)

### 주석
- 해시 문자(#)로 시작하고 줄의 끝까지임.
- 주석은 줄의 처음에서 시작할 수도 있고, 공백이나 코드 뒤에 나올 수도 있음
- 한 줄 주석
- 주석은 코드의 의미를 정확히 전달하기 위한 것이고, 파이썬이 해석하지 않음

## 자료형
- 값에 대한 type이 중요함
- 값에 따라 서로 다른 기술적인 체계가 필요
- 지원하는 연산 및 기능이 다르기 때문

### 수치형
- 수를 표현하는 기본 리터럴
- 부호를 나타내는 – , +를 앞에 붙일 수 있다. (-1, +2.3 등)

#### 정수(integer) - int
- 0, 100, 123 과 같은 표현
- python에서의 정수형은 오버플로우가 없음

#### 실수(floating-point number) - float
- 중간에 소수점이 있는 0.1, 4.2, 3.13123 와 같은 식
- 0. 으로 시작하는 실수값에서는 흔히 앞에 시작하는 0 제외 가능. .5 는 0.5를 줄여쓴 표현
- 실수형의 최대 범위를 넘어가게 되면 inf(무한대)로 변함
- [과학적 표기법] (양수)최대 : 1.79e+308, (양수)최소 : 1.8e-308

#### 참/거짓을 의미하는 부울대수값.(boolean)	- bool
- 자체가 키워드로 True/False를 사용하여 표현

In [37]:
import sys
sys.maxsize #정수의 최대값

9223372036854775807

In [38]:
9223372036854775809 #정수 오버플로우 없음, 동적 메모리 할당

9223372036854775809

In [40]:
sys.float_info #실수형의 최대 범위

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [59]:
1.7976931348623157e+310

inf

### 논리(Boolean)형

In [61]:
a = True
a

True

In [62]:
type(a)

bool

In [63]:
b = False
b

False

In [64]:
type(b)

bool

In [65]:
bool(0), bool(1)

(False, True)

### str
- 글자, 글자가 모여서 만드는 단어, 문장, 여러 줄의 단락이나 글 전체
- 문자열은 홑따옴표, 쌍따옴표, doc스트링('''    ''')으로 표현
- 큰 따옴표와 작은 따옴표를 구분하지 않지만 양쪽 따옴표가 맞아야 함. 
- 따옴표 세 개를 연이어서 쓰는 경우에는 문자열 내에서 줄바꿈이 허용.

In [66]:
spam="I'm Hannah." # " " 에 문자들을 적음
spam           # 작은 따옴표는 글자 취급됨

"I'm Hannah."

In [70]:
str(100), str(12.34)

('100', '12.34')

In [71]:
len("hello") #문자열의 길이 출력

5

In [75]:
len("윤한나")

3

### 아스키 코드
- A : 65, a : 97
- space bar(빈칸) : 32
- enter(\n) : 10

In [73]:
ord('a'), ord('가') #문자에 대한 코드값 출력(아스키, 유니코드)

(97, 44032)

In [76]:
chr(65)  #코드에 대한 해당 기호 출력

'A'

### 자료형과 자료형의 변환에 관련된 함수

In [54]:
type(10), type(-2)

(int, int)

In [46]:
int(10.7)

10

In [50]:
int('10') #'10.0'은 에러발생

10

In [51]:
int('ten') #ValueError 발생

ValueError: invalid literal for int() with base 10: 'ten'

In [55]:
type(1.2), type(5.), type(.5), 3.14-1

(float, float, float, 2.14)

In [57]:
float(10), float('10'), float('10.0')

(10.0, 10.0, 10.0)

In [58]:
float('inf')

inf

## 비교연산
- 동등 및 대소를 비교. 참고로 ‘대소’비교는 ‘전후’비교가 사실은 정확한 표현
- 비교 연산은 숫자값 뿐만 아니라 문자열 등에 대해서도 적용할 수 있음.
- , >, <, >=, <=, ==, !=
- 비교 결과는 True/False

In [77]:
'Hello' > 'HELLO'

True

In [78]:
'Hello' > 'Hel'

True

#### Float type의 비교연산에서의 주의점

- 아주 큰 값에 대한 비교 결과를 주의해야 한다

In [80]:
1.7976931348623157e+308 == 1.7976931348623157e+308 + 1

True

In [81]:
1.7976931348623157e+308 == 1.7976931348623157e+308 + 1000

True

- 실수값은 정확한 값이 아닐 수 있다

In [83]:
0.1 - 0.1 == 0.0

True

In [84]:
0.1 + 0.1 == 0.2

True

In [85]:
0.1 * 6 == 0.6

False

In [86]:
0.1 * 7.0 == 0.7

False

In [87]:
0.1 * 12.0 == 1.2

False

In [88]:
1.0 * 0.7 - 0.7 == 0.0

True

In [89]:
0.3 - 0.3 == 0.0

True

In [90]:
0.1 * 3 - 0.3 == 0.0

False

In [8]:
0.1 * 7.0 - 0.7 == 0.0

False

- 논리형 변수에 대한 산술 연산

In [3]:
a = True
b = False
type(a), type(b)

(bool, bool)

In [5]:
a == 1

True

In [6]:
b == 0

True

In [7]:
a + 1, b + 1

(2, 1)

### 문자열 표현
- 문자열 + 문자열
- 문자열 * 정수

In [10]:
'Hello' + 'World!' #띄어쓰기 없이 나열

'HelloWorld!'

In [11]:
'Hello' * 3 #띄어쓰기 없이 n번 나열

'HelloHelloHello'

# print()
- 모니터에 텍스트(문자열)를 출력해주는 함수
- end=' '에서 '  '안에 문자열을 넣어주면 해당 문자열이 줄의 끝에 삽입됨

In [12]:
print('Single-line string')

Single-line string

In [15]:
print("Double-quoted string")

Double-quoted string

In [16]:
print ('String with\nnewline')

String with
newline

In [17]:
print("""String 
with
newline""") # """ : 3개 사용하면 enter 그대로 출력

String
with
newline

In [19]:
print('Unbroken\
string') # \ : 뒤에 사용한 enter는 무시하라는 의미

Unbrokenstring

In [22]:
age = 25
#print ('나이 '+ age ) #TypeError 발생
name = "슈가"
print ('Nice to meet you, ' + name )

Nice to meet you, 슈가

In [23]:
age = 25
print ('나이:', age ) # ,(콤마)로 연결 / 빈칸 추가됨
name = "슈가"
print ('Nice to meet you, ' + name )

나이: 25
Nice to meet you, 슈가

In [24]:
age = 25
print ('나이:' + str(age) )
name = "슈가"
print ('Nice to meet you, ' + name )

나이:25
Nice to meet you, 슈가

## input()
- 프로그램 실행 중에 키보드로부터 데이터를 입력 받고자 할 때 사용하는 함수
- input의 결과는 항상 문자형

In [25]:
print ('How old are you?')
age = input()
print ('You are '  + age + ' years old.')

How old are you?
23
You are 23 years old.

In [30]:
print ('How old are you?')
age = int(input())
print ('10 years later, you will be '  + str(age+10) + ' years old.')

How old are you?
23
10 years later, you will be 33 years old.

In [32]:
age = input('How old are you?')
print ('You are '  + age + ' years old.')

How old are you?23
You are 23 years old.

In [33]:
weight  = input('체중을 입력하세요(kg):')
height  = input('신장을 입력하세요(cm):')
print( )
BMI = float(weight) / (float(height)/100)**2
print ('BMI는 %.2f'%BMI, '입니다')

체중을 입력하세요(kg):100
신장을 입력하세요(cm):200

BMI는 25.00 입니다