## 디폴트 인자(default argument, = 기본 인자) : 
- 함수의 매개변수는 기본값을 가질 수 있다.
- 인자가 부족하면 기본값을 채워준다.

In [1]:
def greet(name, msg ):
    print('안녕', name, msg)
    
greet('길동', '좋은 아침!!')

안녕 길동 좋은 아침!!

In [4]:
def greet(name, msg = "별일 없죠?" ):
    print('안녕', name, msg)

In [5]:
greet('길산')

안녕 길산 별일 없죠?

In [6]:
greet('길산', '좋은 아침~')

안녕 길산 좋은 아침~

## keyword argument :
- 매개 변수 이름을 지정해서 값을 전달하는 방식

In [7]:
def calc(x, y, z):
    return x+y+z

calc(1,2,3)

6

In [8]:
calc(y=2, z=3, x=1) #키워드인자

6

In [9]:
calc(1, y=2, z=3) #위치인자 + 키워드인자

6

In [11]:
#calc(x=1, y=2, 3) #위치인자는 앞부터

## 가변 인자
- 몇 개의 인자를 받을지 정해지지 않은 인자
- 파이썬에서는 가변 인자를 받을 때 * (Asterisk) 을 붙여서 받는다.
- 입력받는 전달 인자의 개수에 상관없음

In [13]:
def sum_all(*args):
    result = 0
    print(type(args), args)
    for i in args:
        result += i
    return result

sum_all(1,2,5,6,8,9,10)

<class 'tuple'> (1, 2, 5, 6, 8, 9, 10)

41

## 키워드 가변 인자: 키워드 + 가변 
- ** 을 사용
- dictionary 형태로 입력

In [14]:
def dic_text(**kwargs):
    print(kwargs)
    
dic_text(one = 1, two = 2, three = 3)

{'one': 1, 'two': 2, 'three': 3}

## 함수는 객체

In [15]:
def func(dx, dy):
    '''이것은 여러줄 
    주석입니다. 
    함수의 도움말'''
    dx, dy = dy, dx
    return dx, dy

func(3, 5)

(5, 3)

In [17]:
print(func)

<function func at 0x000002B59334A430>

In [18]:
%whos

Variable   Type        Data/Info
--------------------------------
calc       function    <function calc at 0x000002B5932F39D0>
dic_text   function    <function dic_text at 0x000002B5932F3820>
func       function    <function func at 0x000002B59334A430>
greet      function    <function greet at 0x000002B5932F3AF0>
sum_all    function    <function sum_all at 0x000002B5932F33A0>

### X.upper : 대문자로
### X.lower : 소문자로
### X.capitalize() : 첫 글자만 대문자로

In [19]:
def wow(text):
    return text.upper()

wow('hi')

'HI'

In [22]:
oh = wow

In [23]:
oh('hello')

'HELLO'

In [25]:
del wow #wow는 삭제되고 oh는 남아있음

NameError: name 'wow' is not defined

### Python 함수는 객체이므로 자료구조 속에 넣을 수 있음

In [29]:
flst = [oh, str.lower, str.capitalize] #함수 3개
flst

[<function __main__.wow(text)>,
 <method 'lower' of 'str' objects>,
 <method 'capitalize' of 'str' objects>]

- 리스트 내의 함수로 접근 방법은 다른 객체와 동일

In [30]:
for x in flst:
    print(x('welcome'))

WELCOME
welcome
Welcome

In [31]:
flst[0]('welcome')

'WELCOME'

### split()함수와 join() 함수

In [36]:
color = ['blue', 'red', 'yellow', 'green']

In [37]:
example = 'www.daehak.ac.kr'
example.split('.') #문자열.split('구분자')

['www', 'daehak', 'ac', 'kr']

In [38]:
','.join(color) #'구분자'.join(리스트)

'blue,red,yellow,green'

## lambda 함수 
- 한 줄짜리 함수
- 콜론(:)을 경계로 앞 : 매개변수 /  뒤 : 표현식(반환값)
- return문 필요 없고, 표현식 실행 결과가 자동 반환됨

In [40]:
a = lambda x, y : x + y
a(10, 10)

20

## python 의 모든 자료는 객체

## higher-order function
- Python은 함수를 전달인자로 넘겨줄 수 있음

In [41]:
#인자로 넘겨받은 함수를 실행시켜 문자열을 반환하는 함수
def greet(func):
    greeting = func('hi, I love python')
    print(greeting)

greet(oh)

HI, I LOVE PYTHON

## map 함수
### map(f, iterable)
- f : 함수이름
- 함수(f)에 반복 가능한 iterable 자료형을 입력 받음
- f의 실행 결과를 반환
- 모든 자료에 대해 순차적으로 수행됨

In [42]:
list(map(oh, ['hi', 'hello', 'welcome']))

['HI', 'HELLO', 'WELCOME']

## filter 함수
### filter(함수, 리스트)
- 반복 가능한 객체에서 지정한 함수의 반환 값이 True인 요소만 골라냄

In [43]:
list(filter(lambda x : x < 5, range(10)))

[0, 1, 2, 3, 4]

In [44]:
list(filter(lambda x : x > 5, range(10)))

[6, 7, 8, 9]

## enumerate() 함수
- List의 요소를 추출할 때 번호를 붙여서 추출

In [45]:
mylist=['a', 'b', 'c', 'd']
list(enumerate(mylist))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [46]:
for i, v in enumerate(mylist):
    print(i, v)

0 a
1 b
2 c
3 d

## zip() 함수
- list/tuple 들에서 같은 위치에 있는 값을 병렬적으로 추출함

In [47]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
list(zip(alist, blist))

[('a1', 'b1'), ('a2', 'b2'), ('a3', 'b3')]

In [48]:
for a, b in zip(alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

## 리스트 조건 제시법
- for 반복을 사용하여 자동으로 리스트를 생성하는 방법

#### [생성연산식 for 변수 in 컬랙션]

In [49]:
import random

In [51]:
rlst=[]
for x in range(6):
    rlst.append(random.randint(1, 45))
else:
    print(rlst)

[45, 6, 26, 3, 43, 21]

In [52]:
#리스트 조건 제시법 사용
[random.randint(1, 45) for x in range(6)]

[37, 17, 19, 37, 39, 35]

In [55]:
[int(input('정수를 입력하시오: ')) for x in range(5)]

정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 4
정수를 입력하시오: 5

[1, 2, 3, 4, 5]

In [56]:
[ i**3 for i in range(10) ]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

## iterable 객체 : 반복(순환) 가능한 객체
- 대표적 iterable 객체 타입 : range(), map()함수 
-반복자(iterator): 함수
#### next() : iterator를 입력 받아 다음 출력 값을 반환

In [60]:
lst=[1,2,3]
result = map(lambda i : i ** 2, lst)

In [61]:
next(result)

1

In [64]:
next(result)

StopIteration:

## Generator 함수
#### yield : 생성자
- Iterable 자료를 생성하는 함수
- next() 함수 사용해서 자료에 접근
- yield 문이 포함된 함수는 호출되면 generator 반환
- generator가 next() 함수에 전달되었을 때 실행됨
- yield 문은 yield 문에 정의된 값 반환 후 실행을 멈춤
- next() 함수에 의해 generator 가 다시 실행되면 멈춤 위치에서부터 다시 실행

In [68]:
#a, b, c를 출력하는 생성기
def abc():
    yield 'a'
    yield 'b'
    yield 'c'

d = abc()
next(d)

'a'

In [72]:
#1~무한대의 자연수가 순서대로 나오는 생성기
def one_to_infinite():
    n = 1
    while True:
        yield n
        n += 1

natural_number = one_to_infinite()
next(natural_number)

1

In [73]:
next(natural_number)

2

In [74]:
for i in range(10):
    print(next(natural_number))

3
4
5
6
7
8
9
10
11
12

In [76]:
#시작~(end - 1)까지의 자연수가 순서대로 나오는 생성기
def my_range(s=0, e=100, step=1):
    n = s
    while n < e:
        yield n
        n += step

d = my_range(10, 13)
next(d)

10

### Generator expression
#### (연산 for 변수 in 컬렉션)
- iterable 자료를 생성하는 식

### 리스트와 iterable 객체의 차이점

In [78]:
def input_order(n):
    return [ input('메뉴 : ') for x in range(n)]  # 리스트를 만들어 반환

# 음료 3개 입력받아 각 음료 제조를 요청
for drink in input_order(3):
    print(drink, '만들어주세요..')

메뉴 : ㅁ
메뉴 : ㄴㅇ
메뉴 : ㅇㄹ
ㅁ 만들어주세요..
ㄴㅇ 만들어주세요..
ㅇㄹ 만들어주세요..

In [80]:
def input_order(n):
    return ( input('메뉴 : ') for x in range(n))  # generator를 만들어 반환

# 음료 3개를 한 개씩 입력받아 각 음료 제조를 요청
for drink in input_order(3):
    print(drink, '만들어주세요..')

메뉴 : 1
1 만들어주세요..
메뉴 : 2
2 만들어주세요..
메뉴 : 3
3 만들어주세요..

### 모듈과 패키지
- 모듈 : 함수, 변수, 클래스를 담고있는 파일
- 패키지 : 여러 모듈을 묶은 것
- import 모듈1, 모듈2 : 콤마로 구분

In [82]:
import math
math.pi

3.141592653589793

#### import as : 모듈 이름 지정하기
- import 모듈 as 이름

#### from import : 모듈 일부만 가져오기
- from 모듈 import 변수

In [84]:
from math import pi, sqrt
pi, sqrt(4)

(3.141592653589793, 2.0)