# 반복문 while
- 반복(iteration)은 동일한 문장을 여러 번 반복시키는 구조
- 조건식이 True인 동안 실행문장을 반복함
#### while 조건식: 실행문장 ... break

In [4]:
count = 0                     #1.변수 값 초기화
while count < 5:              #2.조건문
    print ('파이썬은 즐거워')
    count += 1                #3.증감식
    
print('count =', count)

파이썬은 즐거워
파이썬은 즐거워
파이썬은 즐거워
파이썬은 즐거워
파이썬은 즐거워
count = 5

# 반복문 for
- 범위의 처음부터 끝까지 반복함
- 범위: 리스트, range, 튜플, 문자열 등
#### for 변수 in 범위 : 실행문장

In [5]:
for count in range(1, 11) :
      print ('나무를', count, '번 찍었습니다.', '딱! ' *count)
print ('넘어가즈아~~~')

나무를 1 번 찍었습니다. 딱!
나무를 2 번 찍었습니다. 딱! 딱!
나무를 3 번 찍었습니다. 딱! 딱! 딱!
나무를 4 번 찍었습니다. 딱! 딱! 딱! 딱!
나무를 5 번 찍었습니다. 딱! 딱! 딱! 딱! 딱!
나무를 6 번 찍었습니다. 딱! 딱! 딱! 딱! 딱! 딱!
나무를 7 번 찍었습니다. 딱! 딱! 딱! 딱! 딱! 딱! 딱!
나무를 8 번 찍었습니다. 딱! 딱! 딱! 딱! 딱! 딱! 딱! 딱!
나무를 9 번 찍었습니다. 딱! 딱! 딱! 딱! 딱! 딱! 딱! 딱! 딱!
나무를 10 번 찍었습니다. 딱! 딱! 딱! 딱! 딱! 딱! 딱! 딱! 딱! 딱!
넘어가즈아~~~

In [8]:
import random
number = random.randint(1, 10)
for count in range(1, number + 1):
    print("나무를", count, '번 찍었습니다.', '딱!' * count)
print("앗!곰이 나타났네요;;;")

나무를 1 번 찍었습니다. 딱!
나무를 2 번 찍었습니다. 딱!딱!
나무를 3 번 찍었습니다. 딱!딱!딱!
나무를 4 번 찍었습니다. 딱!딱!딱!딱!
나무를 5 번 찍었습니다. 딱!딱!딱!딱!딱!
앗!곰이 나타났네요;;;

In [10]:
import time
for i in '재미있네요!!':
    print(i, end = '~')
    time.sleep(0.5)

재~미~있~네~요~!~!~

In [11]:
import time
for i in ['재미있네요!!', '내일도 재미있기를']:
    print(i)
    time.sleep(0.5)

재미있네요!!
내일도 재미있기를

In [12]:
#구구단 예제 1
i=2
for j in range(1, 10):
    print(i, '*', j, '=', i * j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [16]:
#구구단 예제 2
for i in range(2, 10):
    print ('='*3, i, '단', '='*3 )
    for j in range(1, 10):
        print(i, '*', j, '=', i * j)
    print("\n")

=== 2 단 ===
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


=== 3 단 ===
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27


=== 4 단 ===
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36


=== 5 단 ===
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45


=== 6 단 ===
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54


=== 7 단 ===
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63


=== 8 단 ===
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72


=== 9 단 ===
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

### 반복문 + 리스트 실습: 로또 번호 생성기

In [26]:
import random
print('로또번호 생성기 프로그램')

count = 1
lottoList = []
while count < 7:
    number = random.randint(1, 45)
    if number not in lottoList: #중복 방지
        lottoList.append(number)
        count += 1
    
print('오늘의 당첨 번호 :', lottoList)

로또번호 생성기 프로그램
오늘의 당첨 번호 : [29, 35, 24, 13, 18, 43]

In [27]:
#break 사용
#import random
print('로또번호 생성기 프로그램')

count = 0
lottoList = []
while True:
    number = random.randint(1, 45)
    if number not in lottoList: #중복 방지
        lottoList.append(number)
        count += 1
    if count == 6:
        break
    
print('오늘의 당첨 번호 :', lottoList)

로또번호 생성기 프로그램
오늘의 당첨 번호 : [14, 37, 1, 40, 6, 17]

In [ ]:

print('1부터 100까지의 합은 '+ str(total)+'입니다.')

# in, is
- in : 있으면 true, 없으면 false 반환
- not in : 없으면 true, 있으면 true 반환

### 논리 연산자
- and, or, not : bool로 반환
- 0이외의 값은 모두 true

In [28]:
d = [[4, 6], '1', '2']
[4] in d

False

### and, or not 연습
- 1. x == 1 and y == 3
- 
- 1. x ==y or x == z
- 
- 1. x != 2 and x != 3 and x != 4
- 2. not(x ==2 or x == 3 or x == 4)
- 3. x not in [2,3,4]
- 4. x not in range(2,5)
- 
- 1. x == 2 or x == 3 or x == 4
- 2. x in [2,3,4]

### is
- 비교연산자 is는 값 비교 X, 레퍼런스 비교 O
- 파이썬에서 -5 ~ +256은 메모리에 캐시 -> 동일한 주소 참조

In [31]:
a=1
b='1'
a is b

False

In [33]:
a = 10
b = 10
a is b, id(a), id(b) #10은 같은 위치

(True, 1325636414032, 1325636414032)

# 튜플(tuple)
- 순서가 있는 원소들의 묶음
- 불변객체, 원소 변경 불가능
- count() : 원소 개수
- index() : 인덱스 찾기

In [34]:
a = (1, 2, 3, 4, 5)
a

(1, 2, 3, 4, 5)

In [37]:
b = tuple(range(1, 10))
b, b[3], b[-1]

((1, 2, 3, 4, 5, 6, 7, 8, 9), 4, 9)

In [39]:
x = 1, 
x

(1,)

In [41]:
type(x), len(x)

tuple

In [44]:
x, y = 1, 2
x, y

(1, 2)

In [45]:
(x, y) = (1, 2)
x

1

# 딕셔너리
- 사전식 자료 관리
- key와 value 쌍으로 이루어진 자료구조
- 딕셔너리는 중괄호{ }로 묶여 있음
- key를 인덱스로 사용
- len() : 원소의 수

In [47]:
a={'a' : 1, 'b': 2}
a, len(a), type(a)

({'a': 1, 'b': 2}, 2, dict)

In [48]:
phone_book={'신사임당': '010-1234-5678', '홍길동': '010-4532-4532'}
phone_book

{'신사임당': '010-1234-5678', '홍길동': '010-4532-4532'}

In [49]:
phone_book['이순신']= '010-0987-6543' #원소 추가
phone_book

{'신사임당': '010-1234-5678', '홍길동': '010-4532-4532', '이순신': '010-0987-6543'}

In [51]:
phone_book['이순신'] #key값으로 검색

'010-0987-6543'

In [53]:
phone_book.get('이순신') #key값으로 검색

'010-0987-6543'

In [52]:
'이순신' in phone_book

True

In [ ]:
phone_book['홍길동']

In [55]:
phone_book={'신사임당': '010-1234-5678', 
            '홍길동': '010-4532-4532', 
            '이순신': '010-0987-6543'}

In [56]:
for i in phone_book:
    print(i) #key값만 출력

신사임당
홍길동
이순신

In [57]:
for i in phone_book:
    print(i) #key값만 출력
else:
    print('end')

신사임당
홍길동
이순신
end

In [61]:
phone_book.keys() #딕셔너리의 모든 key 출력

dict_keys(['신사임당', '홍길동', '이순신'])

In [62]:
for i in phone_book.keys():
    print(i)

신사임당
홍길동
이순신

In [63]:
phone_book.values() #딕셔너리의 모든 value 출력

dict_values(['010-1234-5678', '010-4532-4532', '010-0987-6543'])

In [64]:
for i in phone_book.values():
    print(i)

010-1234-5678
010-4532-4532
010-0987-6543

In [65]:
for i in phone_book.items():
    print(i)

('신사임당', '010-1234-5678')
('홍길동', '010-4532-4532')
('이순신', '010-0987-6543')

In [60]:
for i, j in phone_book.items():
    print(i, j)

신사임당 010-1234-5678
홍길동 010-4532-4532
이순신 010-0987-6543

In [66]:
#딕셔너리 항목 삭제
del phone_book['홍길동']
phone_book

{'신사임당': '010-1234-5678', '이순신': '010-0987-6543'}

In [68]:
#phone_book.clear() #모든 항목 삭제
#phone_book

In [69]:
#copy() : 딕셔너리 복사
#popitem() : 값 빼내기

### 집합(set)
- 순서 X, 수정 가능, 값이 중복되지 않음

In [70]:
a = {1, 2, 3, 4, 5}
a

{1, 2, 3, 4, 5}

In [71]:
b = set([1, 1, 4, 2, 2, 6, 6, 6, 6, 7, 8, 10, 4, 2, 8, 6, 3])
b

{1, 2, 3, 4, 6, 7, 8, 10}